body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

.button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

#backButton {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#backButton:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

/* Media queries for mobile responsiveness */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
        padding: 0 10px;
    }

    .button {
        padding: 10px;
        font-size: 16px;
    }

    .input-field {
        padding: 8px;
        font-size: 14px;
    }
}
